/**
* @name Return 2019
* @author Mati
* @version 1.0.0
* @description looks like 2019!
* @Credits DTM-16, Oldcord, Revert Rebrand, SettingsModal, Novum,
*/

/* Oldcord */
@import url("https://moyaiu.github.io/OldCord/src/components/hardcoded.css");
@import url("https://moyaiu.github.io/OldCord/src/components/vars.css");
@import url("https://moyaiu.github.io/OldCord/src/components/color.css");
@import url("https://moyaiu.github.io/OldCord/src/components/reactions.css");
@import url("https://moyaiu.github.io/OldCord/src/components/avatars.css");
@import url("https://moyaiu.github.io/OldCord/src/components/svg.css");
@import url("https://moyaiu.github.io/OldCord/src/components/other.css");
@import url("https://moyaiu.github.io/OldCord/src/components/roles.css");
@import url("https://moyaiu.github.io/OldCord/src/components/pings.css");

/* Revert rebrand */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/variables.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/hardcoded.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/pfps.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/folders.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/wordmark.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/bd.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/inputs.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/svgs.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/other.css');
@import url("https://moyaiu.github.io/OldCord/src/components/color.css");
@import url("https://moyaiu.github.io/OldCord/src/components/reactions.css");
@import url("https://moyaiu.github.io/OldCord/src/components/avatars.css");
@import url("https://moyaiu.github.io/OldCord/src/components/svg.css");
@import url("https://moyaiu.github.io/OldCord/src/components/other.css");
@import url("https://moyaiu.github.io/OldCord/src/components/roles.css");
@import url("https://moyaiu.github.io/OldCord/src/components/pings.css");

/* No Badges (DTM-16) 
.userPopoutOuter-3AVBmJ:not(.profileCustomizationPreview-2-Y173) .userPopoutInner-1hXSeY .profileBadges-31rDHI {
	top: calc(100% - calc(100px / 100));
	left: calc(100% - calc(100px / 100));
}
*/

/* Semi-Revert User Popouts (DTM-16, Novum)*/
[class*=popoutBanner]:not([class*=BannerPremium])[style] {
    background: transparent !important;
}
.userPopoutInner-1hXSeY .bannerSVGWrapper-qc0szY * {
	mask: none;
}
.userPopoutOuter-3AVBmJ:not(.profileCustomizationPreview-2-Y173) .userPopoutInner-1hXSeY .avatarWrapper-3y0KZ1 {
	left: calc(52% - calc(94px /2));
}
.userPopoutOuter-3AVBmJ:not(.profileCustomizationPreview-2-Y173) .userPopoutInner-1hXSeY .userPopoutOverlayBackground-dKOOda > .section-3FmfOT:first-of-type, .userPopoutOuter-3AVBmJ:not(.profileCustomizationPreview-2-Y173) .userPopoutInner-1hXSeY .userPopoutOverlayBackground-dKOOda > .section-3FmfOT:nth-of-type(2) {
	text-align: center;

}
.userPopoutOuter-3AVBmJ:not(.profileCustomizationPreview-2-Y173) .userPopoutInner-1hXSeY .customStatus-3Bvsdb {
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
	display: flex;
	justify-content: center;
}

/* Revert Font (DTM-16) */
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 300;
  src: url(https://discord.com/assets/46933da896ba96126074286056614542.woff2) format("woff2"), url(https://ptb.discord.com/assets/46933da896ba96126074286056614542.woff2) format("woff2"), url(https://canary.discord.com/assets/46933da896ba96126074286056614542.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 300;
  src: url(https://discord.com/assets/1651ce6325c0da043476ace0bec3971b.woff2) format("woff2"), url(https://ptb.discord.com/assets/1651ce6325c0da043476ace0bec3971b.woff2) format("woff2"), url(https://canary.discord.com/assets/1651ce6325c0da043476ace0bec3971b.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 400;
  src: url(https://discord.com/assets/24bda95d153a319704c33329f3ab84bb.woff2) format("woff2"), url(https://ptb.discord.com/assets/24bda95d153a319704c33329f3ab84bb.woff2) format("woff2"), url(https://canary.discord.com/assets/24bda95d153a319704c33329f3ab84bb.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 400;
  src: url(https://discord.com/assets/7f18f1d5ab6ded7cf71bbc1f907ee3d4.woff2) format("woff2"), url(https://ptb.discord.com/assets/7f18f1d5ab6ded7cf71bbc1f907ee3d4.woff2) format("woff2"), url(https://canary.discord.com/assets/7f18f1d5ab6ded7cf71bbc1f907ee3d4.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url(https://discord.com/assets/cf4a8a10bbdf9b775fad41e0b9921c84.woff2) format("woff2"), url(https://ptb.discord.com/assets/cf4a8a10bbdf9b775fad41e0b9921c84.woff2) format("woff2"), url(https://canary.discord.com/assets/cf4a8a10bbdf9b775fad41e0b9921c84.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 500;
  src: url(https://discord.com/assets/9cfa747e897c772d25efd8e4a42a005e.woff2) format("woff2"), url(https://ptb.discord.com/assets/9cfa747e897c772d25efd8e4a42a005e.woff2) format("woff2"), url(https://canary.discord.com/assets/9cfa747e897c772d25efd8e4a42a005e.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 600;
  src: url(https://discord.com/assets/f9e7047f6447547781512ec4b977b2ab.woff2) format("woff2"), url(https://ptb.discord.com/assets/f9e7047f6447547781512ec4b977b2ab.woff2) format("woff2"), url(https://canary.discord.com/assets/f9e7047f6447547781512ec4b977b2ab.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 600;
  src: url(https://discord.com/assets/21070f52a8a6a61edef9785eaf303fb8.woff2) format("woff2"), url(https://ptb.discord.com/assets/21070f52a8a6a61edef9785eaf303fb8.woff2) format("woff2"), url(https://canary.discord.com/assets/21070f52a8a6a61edef9785eaf303fb8.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 700;
  src: url(https://discord.com/assets/f9c8fcfa7dcc5d6a291a6ebbe3bb847e.woff2) format("woff2"), url(https://ptb.discord.com/assets/f9c8fcfa7dcc5d6a291a6ebbe3bb847e.woff2) format("woff2"), url(https://canary.discord.com/assets/f9c8fcfa7dcc5d6a291a6ebbe3bb847e.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 700;
  src: url(https://discord.com/assets/5e1649183589023fb24667a369af585d.woff2) format("woff2"), url(https://ptb.discord.com/assets/5e1649183589023fb24667a369af585d.woff2) format("woff2"), url(https://canary.discord.com/assets/5e1649183589023fb24667a369af585d.woff2) format("woff2");
}
.theme-dark, .theme-light {
  --font-primary: Whitney,gg sans,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
  --font-display: Whitney,gg sans,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

/* Old Booster bar and booster page (DTM-16) */
.progressBar-2yl2pi {
    background: linear-gradient(90deg, hsl(270, calc(var(--saturation-factor, 1)*86.7%), 70.6%), hsl(342, calc(var(--saturation-factor, 1)*58%), 72.9%));
}
.container-2giAcK:hover .progressBar-2yl2pi {
    background: linear-gradient(90deg, hsl(270, calc(var(--saturation-factor, 1)*86.7%), 70.6%), hsl(342, calc(var(--saturation-factor, 1)*58%), 72.9%) 34%, hsl(270, calc(var(--saturation-factor, 1)*86.7%), 70.6%) 67%, hsl(342, calc(var(--saturation-factor, 1)*58%), 72.9%));
    background-size: 300% 100%;
}
.theme-dark .tierHeaderUnlocked-1IvR2R, .theme-light .tierHeaderUnlocked-1IvR2R {
  background-image: linear-gradient(90deg, hsl(270, calc(var(--saturation-factor, 1)*86.7%), 70.6%), hsl(342, calc(var(--saturation-factor, 1)*58%), 72.9%));
  color: #fff;
}
.tierHeaderLocked-3ItHYn .tierLock-1uBqZ0 {
  display: none;
}
.app-3xd6d0 + div + .layerContainer-2v_Sit .root-2zfUH6 .button-f2h6uQ {
  padding: 10px 20px;
  width: auto;
  height: auto;
  font-size: 16px;
  font-weight: 400;
}
.theme-dark .app-3xd6d0 + div + .layerContainer-2v_Sit .root-2zfUH6 .closeButton-PCZcma, .theme-dark .app-3xd6d0 + div + .layerContainer-2v_Sit .root-2zfUH6 .keybind-13vtq8 {
  color: #72767d;
}
.theme-dark .app-3xd6d0 + div + .layerContainer-2v_Sit .root-2zfUH6 .closeButton-PCZcma svg, .theme-dark .app-3xd6d0 + div + .layerContainer-2v_Sit .root-2zfUH6 .keybind-13vtq8 svg {
  color: #dcddde;
}

/* Revert other (DTM-16) */
 .scrollerContent-2SW0kQ {
  justify-content: normal;
}
.form-3gdLxP .wrapper-2SplAX {
  border-radius: 0;
  background: #0000;
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: 187px 39px;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.theme-dark .form-3gdLxP .wrapper-2SplAX {
  background-image: url(https://cdn.discordapp.com/attachments/733624227378495488/1009438687521677405/unknown.png), url(https://cdn.discordapp.com/attachments/733624227378495488/1009438687827873812/unknown.png);
}
.theme-light .form-3gdLxP .wrapper-2SplAX {
  background-image: url(https://cdn.discordapp.com/attachments/733624227378495488/1009438799039844454/unknown.png), url(https://cdn.discordapp.com/attachments/733624227378495488/1009438799429898251/unknown.png);
}
.form-3gdLxP .wrapper-2SplAX .title-Do_30w {
  font-size: 15px;
  font-weight: 500;
}
.theme-dark .form-3gdLxP .wrapper-2SplAX .title-Do_30w {
  color: #ffffff4d;
}
.form-3gdLxP:before {
  display: none;
}
.container-1yy5xN {
  border-bottom: solid 1px #eceeef;
  background: url(https://cdn.discordapp.com/attachments/733624227378495488/996983599163260968/unknown.png), url(https://cdn.discordapp.com/attachments/733624227378495488/996983600627077160/unknown.png);
  background-position: 0 100%, 100% 100%;
  background-size: 192px 80px, 216px 64px;
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 20px;
}
.theme-dark .container-1yy5xN {
  background: url(https://cdn.discordapp.com/attachments/733624227378495488/996983710387806308/unknown.png), url(https://cdn.discordapp.com/attachments/733624227378495488/996983711163760670/unknown.png);
  background-position: 0 100%, 100% 100%;
  background-size: 192px 80px, 216px 64px;
  background-repeat: no-repeat, no-repeat;
  border-color: #ffffff05;
}

/* Status Revert (unknown) */
.accountProfilePopoutWrapper-3GskID .bannerSVGWrapper-qc0szY,
.accountProfilePopoutWrapper-3GskID .avatarWrapper-3y0KZ1,
.accountProfilePopoutWrapper-3GskID .profileBadges-31rDHI,
.accountProfilePopoutWrapper-3GskID .userProfileInner-3F03PX:before,
.accountProfilePopoutWrapper-3GskID .userPopoutOverlayBackground-dKOOda div:not(.menu-1QACrS, .menu-1QACrS *),
.accountProfilePopoutWrapper-3GskID [id="account-divider-1"] {
    display: none;
}
.accountProfilePopoutWrapper-3GskID {
    left: 0;
}
.accountProfilePopoutWrapper-3GskID .userPopoutOverlayBackground-dKOOda {
    margin: 0;
    border-radius: 4px;
}
.accountProfilePopoutWrapper-3GskID > div,
.accountProfilePopoutWrapper-3GskID .menu-KSaHL1 .submenu-1apzyU {
    border-radius: 4px;
    width: 220px;
}

/* Fix Beta text (DTM-16) */
.headerBarInner-2pcZSM .textBadge-1fdDPJ,
.tabBarItemContainer-2HdIlr .textBadge-1fdDPJ,
.tabBarItem-2eb9Nh + .textBadge-1fdDPJ,
.betaTagIcon-BgmWbF {
  border-radius: 3px;
  background: var(--blurple) !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

/* Revert Mentions 2 (DTM-16) */
:root {
  --red: hsl(0,calc(var(--saturation-factor, 1) * 84.9%),61%);
}
.theme-dark, .theme-light {
	--blurple: hsl(226.7,calc(var(--saturation-factor, 1) * 58.4%),65.1%);
}
.scrollerInner-2PPAp2 .message-2CShn3 {
	background: none !important;
}
.scrollerInner-2PPAp2 .message-2CShn3:before {
	content: "";
	width: calc(100% - 20px);
	height: 0px;
	background: none;
	display: block !important;
}
.theme-dark .scrollerInner-2PPAp2 .message-2CShn3 .operations-3q3u6E {
    color: #ffffff4d;
}
.scrollerInner-2PPAp2 .message-2CShn3 .operations-3q3u6E a {
	color: var(--blurple);
}
.scrollerInner-2PPAp2 .replying-eZ7p5z > .contents-2MsGLg > .messageContent-2t3eCI, .scrollerInner-2PPAp2 .mentioned-Tre-dv > .contents-2MsGLg > .messageContent-2t3eCI, .scrollerInner-2PPAp2 .ephemeral-2nDdnn > .contents-2MsGLg > .messageContent-2t3eCI, .scrollerInner-2PPAp2 .automodMessage-265YwJ > .contents-2MsGLg > .messageContent-2t3eCI {
	border-left: solid 4px;
	border-radius: 4px;
	padding-left: 4px;
	margin-left: -8px;
}
.scrollerInner-2PPAp2 .divider-IqmEqJ.hasContent-31hcsn .unreadPill-3nEWYM {
	display: none !important;
}
.scrollerInner-2PPAp2 .mentioned-Tre-dv > .contents-2MsGLg > .messageContent-2t3eCI {
	background: var(--background-mentioned);
	border-color: #FAA61A;
}
.scrollerInner-2PPAp2 .automodMessage-265YwJ > .contents-2MsGLg > .messageContent-2t3eCI {
	background: #f0474722;
	border-color: var(--red);
}
.scrollerInner-2PPAp2 .replying-eZ7p5z > .contents-2MsGLg > .messageContent-2t3eCI, .scrollerInner-2PPAp2 .ephemeral-2nDdnn > .contents-2MsGLg > .messageContent-2t3eCI {
	background: #7289da22;
	border-color: var(--blurple);
}

/* new messages indicative (DTM-16) */
.scrollerInner-2PPAp2 .message-2CShn3 .operations-3q3u6E a {
  color: var(--blurple);
}
.scrollerInner-2PPAp2 .unreadPill-3nEWYM {
  padding: 0 10px;
  border-radius: 3px;
  background: var(--background-primary);
  right: unset;
  text-align: center;
  font-size: 14px;
  color: rgba(240, 71, 71, 0.8);
}
.scrollerInner-2PPAp2 .unreadPill-3nEWYM svg {
  display: none;
}

/* idk (DTM-16) */
.form-3gdLxP {
  margin-left: 16px;
  margin-right: 16px;
  padding: 0;
  padding-top: 20px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  background: var(--background-primary);
}
.theme-dark .form-3gdLxP {
  border-top: solid 1px rgba(255, 255, 255, 0.06);
}

/* Replace (DTM-16) */
.title-31SJ6t [d="M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z"], .container-ZMc96U [d="M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z"] {
  d: path("M12.2608 9.57136C11.9142 9.57136 11.6072 9.67136 11.3464 9.87136C11.0856 10.0714 10.8643 10.325 10.6821 10.6357C10.5 10.9429 10.3643 11.2856 10.2678 11.6571C10.1749 12.0286 10.125 12.3894 10.125 12.7322C10.125 12.9035 10.1429 13.0858 10.1786 13.2822C10.2142 13.475 10.2856 13.6536 10.3963 13.8214C10.5035 13.9856 10.6462 14.1214 10.8213 14.2286C10.9963 14.3358 11.2285 14.3894 11.5178 14.3894C11.9106 14.3894 12.2427 14.2928 12.5178 14.1C12.7928 13.9072 13.0178 13.6642 13.1928 13.3678C13.3678 13.075 13.4928 12.7536 13.575 12.4109C13.6536 12.068 13.6928 11.7501 13.6928 11.4643C13.6928 11.2357 13.6714 11.0107 13.6286 10.7858C13.5858 10.5643 13.5109 10.3643 13.4 10.1822C13.2928 10.0037 13.1429 9.85728 12.9536 9.74288C12.7678 9.62864 12.5358 9.57136 12.2608 9.57136V9.57136ZM18.5781 16.8728C18.8467 17.1622 18.8467 17.6317 18.5514 17.8933C17.8125 18.5461 16.9693 19.0408 16.0214 19.375C14.8464 19.7928 13.6072 20 12.3035 20C11.057 20 9.92128 19.8035 8.9 19.4072C7.87856 19.0144 7.00352 18.4642 6.28208 17.7608C5.55712 17.0573 4.99632 16.2142 4.59632 15.2322C4.19648 14.2499 4 13.1786 4 12.0179C4 10.8714 4.21792 9.81072 4.6536 8.83568C5.08928 7.86064 5.68208 7.01424 6.43568 6.29632C7.18928 5.57856 8.06784 5.01776 9.07856 4.60704C10.0821 4.20352 11.1606 4 12.3035 4C13.2891 4 14.2464 4.14288 15.1714 4.42864C16.1 4.7144 16.9214 5.1464 17.6394 5.71792C18.3571 6.29296 18.9286 7.0072 19.3571 7.86784C19.7858 8.72864 20 9.73936 20 10.9C20 11.7606 19.8822 12.5214 19.6429 13.1786C19.4037 13.8392 19.0859 14.3893 18.6859 14.8357C18.2859 15.2821 17.8323 15.6141 17.3179 15.8357C16.8037 16.0571 16.2645 16.1677 15.7002 16.1677C15.1216 16.1677 14.6573 16.032 14.3074 15.7606C13.961 15.4891 13.7859 15.1427 13.7859 14.7285H13.6787C13.461 15.0714 13.1286 15.3998 12.6787 15.707C12.2288 16.0142 11.6787 16.1712 11.0251 16.1712C10.0394 16.1712 9.27872 15.8498 8.74288 15.2034C8.2072 14.557 7.93936 13.7211 7.93936 12.6856C7.93936 12.0819 8.03936 11.4891 8.24288 10.8998C8.4464 10.3106 8.73584 9.78912 9.11072 9.32848C9.48576 8.87136 9.93568 8.49984 10.4571 8.22128C10.9786 7.94272 11.5571 7.80352 12.1965 7.80352C12.7466 7.80352 13.2109 7.91776 13.5893 8.1464C13.9643 8.37504 14.2109 8.65712 14.3286 8.98576H14.3501L14.3829 8.82512C14.4614 8.4384 14.8448 8.12512 15.2394 8.12512H15.7466C16.1413 8.12512 16.3952 8.43792 16.3141 8.824L15.6074 12.193C15.5787 12.393 15.5394 12.6144 15.4894 12.8608C15.4395 13.1038 15.4144 13.3323 15.4144 13.5502C15.4144 13.7931 15.461 13.9966 15.5574 14.1645C15.6502 14.3288 15.836 14.411 16.1109 14.411C16.6752 14.411 17.143 14.1109 17.5146 13.5075C17.8824 12.904 18.068 12.0968 18.068 11.0789C18.068 10.2182 17.9216 9.45392 17.6323 8.7896C17.3429 8.12176 16.9394 7.56464 16.4251 7.11104C15.9109 6.66112 15.2965 6.31824 14.5893 6.0896C13.8787 5.86096 13.1037 5.74672 12.2645 5.74672C11.3501 5.74672 10.5144 5.90736 9.75376 6.22896C8.99296 6.5504 8.34304 6.9968 7.8072 7.56112C7.27152 8.12896 6.85376 8.79328 6.55728 9.56112C6.25728 10.3254 6.10736 11.1541 6.10736 12.0434C6.10736 12.9898 6.26448 13.8434 6.5752 14.604C6.88592 15.3646 7.32528 16.0112 7.88944 16.5504C8.4536 17.0896 9.1288 17.5005 9.91088 17.7862C10.6931 18.0718 11.5573 18.2147 12.4966 18.2147C13.6717 18.2147 14.6824 18.0291 15.5288 17.6541C16.1653 17.3749 16.763 17.0126 17.323 16.5694C17.632 16.3248 18.0819 16.3384 18.3506 16.6277L18.5781 16.8728V16.8728Z");
}

/* example your text (XYZenix) 
.container-YkUktl {
	padding-bottom: 25px !important;
	border-top-color: #2C2F33;
}
.container-YkUktl:after {
	content: "Revert 2019";
	display: block;
	width: 220px;
	position: absolute;
	left: 0;
	bottom: 0px;
	padding: 7px 10px;
	background: #282b30;
	font-size: 10px;
	border-top: solid 1px #36393E;
	color: #535559;
    text-align: center;
}
*/